
body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.head_div{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    font-size: 16px;
}
.body_div{
    display: flex;
    justify-content: center;
}

/* .input_text{
    flex-grow: 1;
} */

.foot_div{
     display: flex;
    justify-content: end;
    
    align-items: center;
    /* flex: 0 0 auto; */
    /* position: fixed; */
    height: 40px;
    font-size: 20px;
    /* height: 80px;
	margin-top: -80px; */
}
.wrapper{
    display: flex;
	flex-direction: column;
	min-height: 100%;
}

.back_color{
background-color: yellow;
}

.width_img{
    width: 100px;
    height: 100px;
    
}
table{
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    max-width: 80%;
}
th, td{
    border: 1px solid black;
    /* text-align: center;
    vertical-align: middle; */
}
